/* TODO: Move this styling to Spark and/or Connectors component */

.centered-spark {
  display: flex;
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.tp,
.bt,
.tr,
.br,
.tl,
.bl {
  width: 430px;
  height: 430px;
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.tp:before,
.bt:before,
.tr:before,
.br:before,
.bl:before,
.tl:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 250px;
  border: 2px solid rgba(0, 0, 0, 0.12);
}
